aws_region         = "us-east-2"
vpc_cidr           = "10.10.0.0/16"
public_subnet_cidr = "10.10.1.0/24"
availability_zone  = "us-east-2a"
instance_type      = "t2.micro"
ami_id             = "ami-xxxxxxxxxxxxxxxxx"
key_name           = "your-keypair-name"
bucket_name        = "your-unique-bucket-name"
my_ip              = "YOUR.IP.ADDRESS/32"
